---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card';
import { projects } from '../data/projects';
---

<Layout title="FastTastic Projects" contentDescription="A showcase of 12 fun, engaging, and unique projects built using the cutting-edge FAST stack (Firebase/Firestore, Astro, Solid.js, and TailwindCSS/TypeScript). Explore and learn from these exciting applications, perfect for developers looking to expand their skills.">
  <div class="font-sans">
    <div class="container mx-auto px-4">
      <header class="text-center my-8">
        <h1 class="text-5xl font-medium text-red-600">FastTastic Projects</h1> 
      </header>
      <main class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			{projects.map((projects,index) => (
			<Card client:load 
			thumbnail={projects.thumbnail} 
			projectTitle={projects.projectTitle}
			projectDescription={projects.projectDescription} 
			route={projects.route}
			alt={projects.alt}/>))}
      </main>
    </div>
  </div>
</Layout>
